// Licensed to the Apache Software Foundation (ASF) under one
// or more contributor license agreements.  See the NOTICE file
// distributed with this work for additional information
// regarding copyright ownership.  The ASF licenses this file
// to you under the Apache License, Version 2.0 (the
// "License"); you may not use this file except in compliance
// with the License.  You may obtain a copy of the License at
//
//   http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing,
// software distributed under the License is distributed on an
// "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
// KIND, either express or implied.  See the License for the
// specific language governing permissions and limitations
// under the License.

#![allow(non_snake_case)]
{% for name, fs in function_infos | items %}mod {{name}}_impl;
{% endfor %}

// create  UDFs
{% for name, fs in function_infos | items %}{% for function_info in fs %}create_udf!({{name}}_impl::{{function_info.name}}Func, {{function_info.gname}}, {{function_info.name}});
{% endfor %}
{% endfor %}

pub fn udfs() -> Vec<(String, std::sync::Arc<datafusion::logical_expr::ScalarUDF>)> {
    vec![
        {% for name, fs in function_infos | items %}{% for function_info in fs %}{% if function_info.kind == "scalar" %}   ("trino::{{function_info.name}}".to_string(), {{function_info.name}}()),{% endif %}{% endfor %}
        {% endfor %}
    ]
}

pub fn udafs() -> Vec<(String, std::sync::Arc<datafusion::logical_expr::AggregateUDF>)> {
    vec![
        {% for name, fs in function_infos | items %}{% for function_info in fs %}{% if function_info.kind == "aggregate" %}   ("trino::{{function_info.name}}".to_string(), {{function_info.name}}()),{% endif %}{% endfor %}
        {% endfor %}
    ]
}