#![allow(non_snake_case)]
{% for name, fs in function_infos | items %}mod {{name}}_impl;
{% endfor %}

// create  UDFs
{% for name, fs in function_infos | items %}{% for function_info in fs %}make_udf_function!({{name}}_impl::{{function_info.name}}Func, {{function_info.gname}}, {{function_info.name}});
{% endfor %}
{% endfor %}


// Export the functions out of this package, both as expr_fn as well as a list of functions
export_functions!(
{% for name, fs in function_infos | items %}{% for function_info in fs %}    (presto, {{function_info.name}}, {{function_info.arg_names}}, "function doc"),
{% endfor %}
{% endfor %});
