// Licensed to the Apache Software Foundation (ASF) under one
// or more contributor license agreements.  See the NOTICE file
// distributed with this work for additional information
// regarding copyright ownership.  The ASF licenses this file
// to you under the Apache License, Version 2.0 (the
// "License"); you may not use this file except in compliance
// with the License.  You may obtain a copy of the License at
//
//   http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing,
// software distributed under the License is distributed on an
// "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
// KIND, either express or implied.  See the License for the
// specific language governing permissions and limitations
// under the License.

#![allow(non_snake_case)]
{% for name, fs in function_infos | items %}mod {{name}}_impl;
{% endfor %}

// create  UDFs
{% for name, fs in function_infos | items %}{% for function_info in fs %}make_udf_function!({{name}}_impl::{{function_info.name}}Func, {{function_info.gname}}, {{function_info.name}});
{% endfor %}
{% endfor %}


// Export the functions out of this package, both as expr_fn as well as a list of functions
export_functions!(
{% for name, fs in function_infos | items %}{% for function_info in fs %}    (trino, {{function_info.name}}, {{function_info.arg_names}}, "function doc"),
{% endfor %}
{% endfor %});
